ftfy
kornia
numexpr
numpy==1.26.4
onnx==1.18.0
onnxruntime-gpu==1.22.0
onnxsim
opencv-python==4.10.0.84
packaging==24.1
pillow==9.5.0
protobuf==6.31.1
psutil==6.0.0
pyqtdarktheme
pyqt-toast-notification==1.3.2
PySide6==6.8.2.1
pyvirtualcam==0.11.1
qdarkstyle
regex
requests
scikit-image==0.21.0
tensorrt-cu11==10.4.0
torch==2.4.1+cu118
torchaudio==2.4.1+cu118
torchvision==0.19.1+cu118
tqdm
omegaconf
einops
lightning
send2trash
